@{
    ViewBag.Title = "University Management System Version-1(Beta)";
}
<h2>@ViewBag.Title.</h2>
<p>This is a management System named University Management System.Tolls used in this system are given below.</p>
<br>
<h1>Tools</h1><br>
<h3>Microsoft Visio Studio 2013</h3><br>
<h3>Microsoft Sql Sever Management Studio 2008</h3><br>
<h1>Technology Used:</h1><br>
<h3>ASP.NET MVC5 </h3><br>
<h3>Entity Framework</h3>
