@{
    ViewBag.Title = "Fell Free to Contact With Us";
}
<h1>@ViewBag.Title.</h1>
<address class="text-danger">
    Explore Experts Solution<br />
    karwanbazar,Dhaka-1208<br/>
    <abbr title="Phone">Mob.</abbr> 01746207308
</address>

<address>
    <strong class="text-info">Ronok Bhowmik</strong><br>
    <h6>Noakhali Science and Technology University(NSTU)</h6>  
</address>

<address>
    <strong class="text-info">Shuvo Broto Roy</strong><br>
    <h6>Northern University</h6>
</address>

<address>
    <strong class="text-info">Md. Saddam Hossain</strong><br>
    <h6>Southeast University(NUB)</h6>
</address>

<address>
    <strong class="text-info">Shibly Shrof</strong><br>
    <h6>American International University Bangladesh(AIUB)</h6>
</address>

<address>
    <strong class="text-info">Momin Ur Rashid</strong><br>
    <h6>American International University Bangladesh(AIUB)</h6>
</address>