@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2 class="text-primary" >Welcome to University Management System</h2>
        <p>
            University Management System is a sample application that
            demonstrates how to Manage the associate works related to 
            the management of the student's academic works and so forth. 
        </p>
    </div>
</div>